/* 글로벌 적용 코드 속성 */
.form-area div{
    box-sizing: border-box;
}

.body{
    margin: 0px;    
    font-family: 'Malgun Gothic', sans-serif;
}

/* 개별 클래스 */
.form-area{
    background-color: #F7F8FB;
    padding: 8px;
    box-sizing: border-box;
    height: 100vh;
}

.row-container{
    height: 50%;
    display: flex;
}

.container{
    width: 50%;
    height: clac(100% - 16px);
    background-color: white;
    padding: 16px;
    border: solid 1px #E0E0E0 ;
    border-radius: 8px;
    margin: 8px;
}

.container-header{margin-bottom: 8px;}

.content{
    height: calc(100% - 36px);
    align-items: center;
}

.content-left{
    padding-right: 16px;
    width: 100%;
    height: 100%;
}

.content-circle{
    padding-right: 16px;
    min-width: 320px;
    height: 100%;
}

.content-top{
    width: 100%;
    height: calc(100% - 136px);
}

.graph{
    /* 백그라운드컬러 지우고 그래프 임베드하시면 됩니다. 
    그래프는 유동적인 width에 반응하여 크고 작아지는 디자인으로 의도했습니다. 
    이쁘게 늘어나고 줄어들지는 모르겠는데 그랬으면 좋겠네요.*/
    background-color: #ddd;
    height: 100%;
}

/* 비율 컴포넌트 */
.ratiobox-container{
    width: calc(100% + 8px);
    position: relative;
    left: -4px;
    bottom: -4px;
}

.ratiobox{
    background-color: white;
    border: solid 1px #E0E0E0;
    border-radius: 4px;
    padding: 6px;
    margin: 12px 0px;
}

.ratiobox-wide{
    background-color: white;
    border: solid 1px #E0E0E0;
    border-radius: 4px;
    padding: 2px 6px;
    margin: 4px 4px;
    width: 50%;
    justify-content: space-between;
}

.ratiobox-width1{width: 238px;}

.ratiobox-width2{width: 200px;}

/* voc현황과 리드타임이 사용되는 타입1과 불만률 추이에 사용되는 타입2 각각 약간 다른 모양을 가지고 있습니다.
타입2는 헤딩 영역의 변칙을 고려하여 절대값 너비120픽셀이 적용된게 가장 큰 특징입니다.*/
.ratiobox-header-type1{
    display: flex;
    align-items: center;
    margin: 8px 8px 0px 8px;
}

.ratiobox-header-type2{
    display: flex;
    align-items: center;
    margin-left: 8px;
}

.ratiobox-content-left1{width: 124px;}

.ratiobox-content-left2{width: 94px;}

.ratiobox-content-right{width: 61px;}

.figure-display{
    font-size: 18px;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: -0.01em;
    margin: 0px;
}

.figure-display-sub{
    font-size: 13px;
    font-weight: 500;
    line-height: 14px;
    letter-spacing: -0.01em;
    margin: 0px;
}

/* 비율-칩 컴포넌트 */
.ratio-chip {
    padding: 2px 8px;
    border-radius: 999px;
    font-size: 12px;
    line-height: 16px;
    position: relative;
    top: 2px;
    color: white;
    display: inline;
}

/* 테이블 영역 */

.content-table{
    padding: 1px;
}

.tb{
    width: auto;
    border-collapse: collapse;
}

.tablerow{ 
    /* 하위요소 tr 꼬집어 잡으려고 만든 허수 클래스 */
}

.tablerow tr{
    height: 42px;
}

.tablerow tr:nth-child(even){
    background-color: #f5f5f5;
}
      
.tablerow tr:nth-child(odd){
    background-color: #fff;
}

.tablerow td{
    padding: 0px 8px;
    text-align: center;
    vertical-align: middle;
}

.tablecol-type {
    font-weight: 900;
    text-align: left;
    display: flex;
    align-items: center;
}

/* 인스턴트 값 */
.d-flex {display: flex;}

.d-inline {display: inline;}

.m-8 {margin: 8px;}

.mr-4{margin-right: 4px;}

.align-items-baseline {align-items:baseline}


/* 타이포그래피 (텍스트 기본 설정) */
.h3 {
    font-size: 20px;
    margin: 0px;
    line-height: 28px;
    letter-spacing: -0.03em;
}

.h4 {
    font-size: 14px;
    margin: 0px;
    line-height: 20px;
    letter-spacing: -0.03em;
}

.h5 {
    font-size: 12px;
    margin: 0px;
    line-height: 16px;
    letter-spacing: -0.03em;
}

.p2 {
    font-size: 14px;
    font-weight: 400;
    margin: 0px;
    line-height: 20px;
    letter-spacing: -0.03em;

}

/* 회색 */
.grey50 {color: #FAFAFA;}

.grey100 {color: #F5F5F5;}

.grey200 {color: #EEEEEE;}

.grey300 {color: #E0E0E0;}

.grey400 {color: #BDBDBD;}

.grey500 {color: #9E9E9E;}

.grey600 {color: #757575;}

.grey700 {color: #616161;}

.grey800 {color: #424242;}

.grey900 {color: #212121;}
    
/* 백그라운드 회색 */
.bg-white {background-color: #FFF;}

.bg-grey50 {background-color: #FAFAFA;}

.bg-grey100 {background-color: #F5F5F5;}

.bg-grey200 {background-color: #EEEEEE;}

.bg-grey300 {background-color: #E0E0E0;}

.bg-grey400 {background-color: #BDBDBD;}

.bg-grey500 {background-color: #9E9E9E;}

.bg-grey600 {background-color: #757575;}

.bg-grey700 {background-color: #616161;}

.bg-grey800 {background-color: #424242;}

.bg-grey900 {background-color: #212121;}

/* 데이터 컬러(그래프, 표에 활용) */
    /* 세트1 */
    .datacolor1-yellow{color: #ECD078; }

    .datacolor1-orange{color: #D95B43; }

    .datacolor1-red{color: #C02942; }

    .datacolor1-brown{color: #542437; }

    .datacolor1-teal{color: #53777A; }

    /* 세트2 */
    .datacolor2-grey{color: #556270; }

    .datacolor2-teal{color: #4ECDC4; }
    
    .datacolor2-lime{color: #C7F464; }
    
    .datacolor2-pink{color: #FF6B6B; }
    
    .datacolor2-red{color: #C44D58; }

    /* 세트3 */
    .datacolor3-brown {color: #5E412F; }

    .datacolor3-yogurt {color: #FCEBB6; }

    .datacolor3-teal {color: #78C0A8; }

    .datacolor3-orange {color: #F07818; }

    .datacolor3-yellow {color: #F0A830; }

/* 하락 상승 표기 컬러: 하락엔 파란색, 상승엔 빨간색 사용. */
.minus-bg {background-color: #2196F3;}

.minus {color: #2196F3;}

.plus-bg {background-color: #F44336;}

.plus {color: #F44336;}

