body{
    margin: 0px;    
    font-family: 'Malgun Gothic', sans-serif;
    background-color: #999;
}

/* 네비 */

.nav-container div {
    box-sizing: border-box;
}

.nav-container a {
    box-sizing: border-box;
}

.nav-container{
    width: 240px;
    height: 100vh;
    background-color: #fff;
}

.nav-head{
    height: 52px;
    padding: 0px 12px;
    background-color: #2D5593;
    display: flex;
    align-items: center;
    margin: 0px;
}

/* 현재 상태 */
.current-container{
    padding: 8px;
    width: 100%;
    
}
.current-box{
    border-radius: 8px;
    padding: 12px;
    display: flex;
    gap: 16px;
    align-items: center;
}

.current-left{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 8px;
    width: 88px;
}

.renew-btn{
    border: none;
    padding: 0px;
}

.renew-btn:hover{
    box-shadow: #212121;
}

.current-right{
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 144px;
}

.current-item{
    display: flex;
    justify-content: space-between;
}

.badge{
    font-size: 12px;
    font-weight: 900;
    text-align: center;
    background-color: #F7941D;
    color: #FFF;
    width: 28px;
    height: 16px;
    padding: 2px 0px 4px;
    margin: 0px;
    border-radius: 999px;
}

/* 네비게이션 리스트, 접기 버튼 등은 제가 JS를 몰라서 위치 정도만 잡아드렸습니다.
클릭된 상태는 수도:active로 지정해뒀으니 변형해서 사용하시면 될것 같아요. */

/* 네비게이션 드로우 */

.nav-list{
    list-style: none;
    margin: 0px;
    padding: 0px;
}

.nav-uppertab{
    padding: 0px 24px;
    display: block;
    height: 44px;
    width: 100%;    
    text-decoration: none;
    display: flex;
    align-items: center;
    color: #212121;
}

.nav-uppertab:hover {
    color: #406BA3;
}

.nav-uppertab:active {
    background-color: #406BA3;
    color: #FFF;
}

.nav-lowertab-box{
    margin: 0px 8px;
    overflow: hidden;
    border-radius: 0px 0px 8px 8px;
}

.nav-lowertab{
    padding: 0px 24px;
    display: block;
    height: 36px;
    width: 100%;    
    text-decoration: none;
    display: flex;
    align-items: center;
    color: #212121;
    background-color: #f5f5f5;
}

.nav-lowertab:hover {
    color: #406BA3;
}

.nav-lowertab:active {
    color: #5A7BD3;
}

.draw-btn{
    display: block;
    width: 7px;
    background-color: #E0E0E0;
    border: none;
    padding: 0px;
}

.draw-btn:hover{
    background-color: #bdbdbd;

}

.draw-btn:active {
    transform: scaleX(-1);
}

.d-flex{
    display: flex;
}



/* 타이포그래피 (텍스트 기본 설정) */
.h2 {
    font-size: 40px;
    margin: 0px;
    line-height: 48px;
    letter-spacing: -0.03em;
    font-weight: 800;
}

.h3 {
    font-size: 20px;
    margin: 0px;
    line-height: 28px;
    letter-spacing: -0.03em;
    font-weight: 800;
}

.h4 {
    font-size: 16px;
    margin: 0px;
    line-height: 22px;
    letter-spacing: -0.03em;
    font-weight: 800;
}

.h5 {
    font-size: 14px;
    margin: 0px;
    line-height: 18px;
    letter-spacing: -0.03em;
    font-weight: 800;
}

.h6 {
    font-size: 12px;
    margin: 0px;
    line-height: 14px;
    letter-spacing: -0.03em;
    font-weight: 800;
}

.p1 {
    font-size: 16px;
    font-weight: 400;
    margin: 0px;
    line-height: 22px;
    letter-spacing: -0.03em;
}

.p2 {
    font-size: 14px;
    font-weight: 400;
    margin: 0px;
    line-height: 20px;
    letter-spacing: -0.03em;
}

/* 회색 */
.white {color: #FFF;}

.grey50 {color: #FAFAFA;}

.grey100 {color: #F5F5F5;}

.grey200 {color: #EEEEEE;}

.grey300 {color: #E0E0E0;}

.grey400 {color: #BDBDBD;}

.grey500 {color: #9E9E9E;}

.grey600 {color: #757575;}

.grey700 {color: #616161;}

.grey800 {color: #424242;}

.grey900 {color: #212121;}
    
/* 백그라운드 회색 */
.bg-white {background-color: #FFF;}

.bg-grey50 {background-color: #FAFAFA;}

.bg-grey100 {background-color: #F5F5F5;}

.bg-grey200 {background-color: #EEEEEE;}

.bg-grey300 {background-color: #E0E0E0;}

.bg-grey400 {background-color: #BDBDBD;}

.bg-grey500 {background-color: #9E9E9E;}

.bg-grey600 {background-color: #757575;}

.bg-grey700 {background-color: #616161;}

.bg-grey800 {background-color: #424242;}

.bg-grey900 {background-color: #212121;}